.App {
  text-align: center;
  padding: 50px;
  width: 800px;
  margin: 0 auto;
}

.picture-layout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.picture-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.picture-wrapper button {
  width: 80px;
}

.picture-wrapper img {
  margin-bottom: 20px;
}

.balance-wrapper button {
  margin-left: 20px;
}

.adminPanel table {
  margin-top: 50px;
  width: 100%;
}
